tarot.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7179b8ca-c774-47a9-9ed4-6bf975344058",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -992,
        16
      ],
      "id": "ca06c3a3-69c2-49ec-8736-723f4b992afa",
      "name": "Check câu hỏi",
      "webhookId": "7179b8ca-c774-47a9-9ed4-6bf975344059"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const mySystemPrompt = `## ROLE: Tarot Question Linter & Moderator\n## TASK: Đánh giá [CÂU HỎI] của người dùng có phù hợp để trải bài Tarot hay không và phân loại xem đó là câu hỏi bốc bài hay giao tiếp thông thường.\n\n## QUY TẮC ĐÁNH GIÁ:\n1. isValid = true, pick_card = true:\n- Người dùng đặt câu hỏi rõ ràng cần bốc bài Tarot (ví dụ: \"Tình cảm sắp tới của tôi ra sao?\", \"Tôi có nên đổi việc không?\", \"Cho tôi một lời khuyên\").\n- reason BẮT BUỘC phải là \"ok\".\n\n2. isValid = true, pick_card = false:\n- Người dùng chỉ đang chào hỏi, cảm ơn, hoặc hỏi thêm về trải bài hiện tại (ví dụ: \"Chào bạn\", \"Cảm ơn\", \"Giải thích thêm lá 2 đi\", \"Ý nghĩa lá này là gì?\").\n- reason phải là \"conversational\" (hệ thống sẽ tự gọi LLM riêng để trả lời).\n\n3. isValid = false, pick_card = false:\n- Câu hỏi quá ngắn, vô nghĩa (ví dụ: \"hi\", \"asdasd\").\n- Chủ đề ngoài đời sống, vi phạm (ví dụ: giải toán, code, chửi thề, hỏi thời tiết).\n- reason phải là một câu giải thích lịch sự lý do từ chối.\n\n## OUTPUT FORMAT (JSON ONLY - KHÔNG bọc block code):\n{\"isValid\": true, \"pick_card\": true, \"reason\": \"ok\"}`;\n\n  const question = $('Check câu hỏi').first().json.body.question || \"\";\n\n  const myUserPrompt = `### [CÂU HỎI ĐẦU VÀO CỦA KHÁCH HÀNG]\\n\"${question}\"\\n\\nHãy phân tích và trả về đối tượng JSON đúng định dạng.`;\n\n  item.json.bodyPayload = {\n    model: \"n8n2\",\n    messages: [\n      { role: \"system\", content: mySystemPrompt },\n      { role: \"user\", content: myUserPrompt }\n    ],\n    temperature: 0\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        16
      ],
      "id": "1182a203-9d20-4103-9699-a81683e04562",
      "name": "build check question prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://9router.n8ntuanphangz.xyz/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer sk-449ef7d4db870f28-gbnei2-bef49749"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -544,
        16
      ],
      "id": "37b8a6a7-dc09-4083-8897-b29fa00b5882",
      "name": "Check câu hỏi AI API"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  let isValid = false;\n  let pick_card = false;\n  let reason = \"Câu hỏi chưa rõ ràng hoặc không liên quan đến Tarot.\";\n\n  // 1. Trích xuất kết quả từ API\n  let rawText = \"\";\n  if (data.choices && data.choices[0] && data.choices[0].message) {\n    rawText = data.choices[0].message.content || \"\";\n  } else {\n    rawText = data.output || data.text || \"\";\n  }\n\n  if (typeof rawText === 'object') {\n    rawText = JSON.stringify(rawText);\n  }\n  rawText = rawText.trim();\n\n  // Loại bỏ markdown code block nếu có\n  if (rawText.includes('```')) {\n    rawText = rawText.replace(/```json/gi, '').replace(/```/g, '').trim();\n  }\n\n  try {\n    const parsed = JSON.parse(rawText);\n    isValid = parsed.isValid;\n    pick_card = parsed.pick_card;\n    reason = parsed.reason || \"ok\";\n  } catch (e) {\n    // Fallback bằng Regex\n    const lowerText = rawText.toLowerCase();\n    if (lowerText.includes('\"isvalid\": true') || lowerText.includes('isvalid: true')) {\n      isValid = true;\n      if (lowerText.includes('\"pick_card\": true') || lowerText.includes('pick_card: true')) {\n        pick_card = true;\n      }\n      reason = \"ok\";\n    } else {\n      isValid = false;\n      const match = rawText.match(/\"reason\"\\s*:\\s*\"([^\"]+)\"/i);\n      if (match && match[1]) {\n        reason = match[1];\n      }\n    }\n  }\n\n  // 2. Ép kiểu chuẩn\n  if (typeof isValid === 'string') {\n    isValid = (isValid.toLowerCase() === 'true');\n  } else {\n    isValid = Boolean(isValid);\n  }\n\n  if (typeof pick_card === 'string') {\n    pick_card = (pick_card.toLowerCase() === 'true');\n  } else {\n    pick_card = Boolean(pick_card);\n  }\n\n  // 3. Chuẩn hóa giá trị\n  if (isValid && pick_card) {\n    reason = \"ok\";\n  } else if (!isValid && (!reason || reason === \"ok\" || reason === \"undefined\")) {\n    reason = \"Câu hỏi không phù hợp. Vui lòng đặt câu hỏi liên quan đến chủ đề Tarot.\";\n  }\n\n  results.push({\n    json: {\n      output: {\n        isValid: isValid,\n        pick_card: pick_card,\n        reason: reason,\n        usage: data.usage || null,\n        model: data.model || null\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        16
      ],
      "id": "fe299c0d-d9ea-4b27-9096-b9096b731e9f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "pick-card-check-condition",
              "leftValue": "={{ $json.output.pick_card }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        16
      ],
      "id": "f3bc8a77-dfc6-4176-9943-0b21cd71d92e",
      "name": "check pick_card"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        128,
        -80
      ],
      "id": "a81551bf-40ed-4c6c-bd9c-0283d50a112c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const userMsg = $('Conversational tarot').first().json.body.message || \"\";\n  const userProfile = $('Conversational tarot').first().json.body.userProfile || { name: 'lữ khách', gender: 'bạn', user_persona: '' };\n  const userName = userProfile.name;\n  const userGender = userProfile.gender;\n  const recentEvents = userProfile.user_persona;\n  const readerPrompt = $('Conversational tarot').first().json.body.reader_prompt || '';\n  \n  // Xây dựng lịch sử hội thoại dạng cặp đôi, ĐÁNH DẤU TURN\n  const history = $('Conversational tarot').first().json.body.history || [];\n  let historyText = 'Chưa có lịch sử. Đây là tin nhắn đầu tiên.';\n  if (history.length > 0) {\n    let turnCount = 1;\n    let historyLines = [];\n    \n    for (let i = 0; i < history.length; i++) {\n        const msg = history[i];\n        if (msg.role === 'user') {\n            historyLines.push(`[Turn ${turnCount}] - Khách hàng: \"${msg.content}\"`);\n        } else {\n            historyLines.push(`[Turn ${turnCount}] - Tarot Reader: \"${msg.content}\"`);\n            turnCount++; \n        }\n    }\n    historyText = historyLines.join('\\n');\n  }\n\n  // Chèn Chân dung năng lượng\n  let personaSection = '';\n  if (recentEvents && recentEvents.trim() !== '') {\n    personaSection = `\\n\\n### [CHÂN DUNG NĂNG LƯỢNG KHÁCH HÀNG (Do AI đúc kết từ các phiên trước)]\\n${recentEvents}`;\n  }\n\n  const defaultSystemPrompt = `## ROLE: Master Tarot Reader thấu cảm và sâu sắc\\n## TASK: Khách hàng đang trò chuyện hoặc hỏi thêm. Hãy trả lời sâu sắc, giữ đúng vai Tarot Reader.`;\n  const narrativeBase = readerPrompt || defaultSystemPrompt;\n  const systemPrompt = narrativeBase + `\\n\\n## USER INFO: Tên: ${userName}, Giới tính: ${userGender}. Hãy gọi tên và chủ động xưng hô một cách linh hoạt, tự nhiên như một người bạn tâm giao (không bị phụ thuộc máy móc vào giới tính, tùy theo phong cách của bạn).` + personaSection + `\\n\\n## QUY TẮC:\\n1. Lời khuyên cần thực tế, hướng thiện và tích cực.\\n2. Nếu có lịch sử, hãy tham chiếu để hiểu bối cảnh, nhưng TẬP TRUNG vào tin nhắn mới nhất.\\n3. KHÔNG nhắc đến AI hay thuật toán.`;\n\n  const userPrompt = `### 🗣️ TIN NHẮN MỚI NHẤT CỦA KHÁCH HÀNG:\\n\"${userMsg}\"\\n\\n---\\n\\n### 📜 LỊCH SỬ HỘI THOẠI TRƯỚC ĐÓ (Sắp xếp từ cũ đến mới):\\n${historyText}\\n\\n---\\n\\n-> Dựa vào bối cảnh trên, hãy trả lời tin nhắn mới nhất của khách hàng.`;\n\n  item.json.bodyPayload = {\n    model: 'n8n2',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ],\n    temperature: 0.8\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        112
      ],
      "id": "20567113-e738-4d57-9df8-f645a2bf11d5",
      "name": "build conversational prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://9router.n8ntuanphangz.xyz/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer sk-449ef7d4db870f28-gbnei2-bef49749"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.conversationalPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        352,
        112
      ],
      "id": "ecd3c27d-de42-49e3-814b-0306a9fd06fa",
      "name": "Conversational AI API"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\t\"isValid\": true,\n\t\"pick_card\": false,\n\t\"reason\": {{ JSON.stringify($('Conversational AI API').item.json.choices[0].message.content || 'Mình luôn sẵn sàng lắng nghe! Bạn còn thắc mắc gì không?') }},\n\t\"usage\": {\n\t\t\"prompt_tokens\": {{ ($('Check câu hỏi AI API').item.json.usage?.prompt_tokens || 0) + ($('Conversational AI API').item.json.usage?.prompt_tokens || 0) }},\n\t\t\"completion_tokens\": {{ ($('Check câu hỏi AI API').item.json.usage?.completion_tokens || 0) + ($('Conversational AI API').item.json.usage?.completion_tokens || 0) }},\n\t\t\"total_tokens\": {{ ($('Check câu hỏi AI API').item.json.usage?.total_tokens || 0) + ($('Conversational AI API').item.json.usage?.total_tokens || 0) }}\n\t},\n\t\"model\": {{ JSON.stringify($('Conversational AI API').item.json.model || null) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        112
      ],
      "id": "9b69d9bf-843d-4fa4-9e31-03f9868db687",
      "name": "Respond conversational"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fc76868a-6ee3-4376-98fe-b5db66b7a3ee",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        448
      ],
      "id": "e93c799d-ede1-49e0-a06a-566f77ed2aa2",
      "name": "Luận giải tarot",
      "webhookId": "fc76868a-6ee3-4376-98fe-b5db66b7a3ed"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://phogotarot-api.tuanphan1112-working.workers.dev/cards/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Luận giải tarot').item.json.body.cards || []) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -608,
        448
      ],
      "id": "c2a947e3-915a-454a-8c7b-2ac18fafb7d4",
      "name": "Tra cứu Ý Nghĩa Bài"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const question = $('Luận giải tarot').first().json.body.question || \"\";\n  const cards = $('Luận giải tarot').first().json.body.cards || [];\n  const userProfile = $('Luận giải tarot').first().json.body.userProfile || { name: 'lữ khách', gender: 'bạn', user_persona: '' };\n  const userName = userProfile.name;\n  const userGender = userProfile.gender;\n  const recentEvents = userProfile.user_persona;\n  const readerPrompt = $('Luận giải tarot').first().json.body.reader_prompt || '';\n  \n  let isFollowUp = false;\n  if ($('Luận giải tarot').first().json.body.isFollowUp) {\n    isFollowUp = true;\n  }\n  \n  const cardMeaningsStr = $('Tra cứu Ý Nghĩa Bài').first().json.cards_str || \"\";\n\n  // Xây dựng lịch sử hội thoại dạng cặp đôi, ĐÁNH DẤU TURN\n  const history = $('Luận giải tarot').first().json.body.history || [];\n  let historyText = 'Đây là tin nhắn đầu tiên của phiên.';\n  if (history.length > 0) {\n    let turnCount = 1;\n    let historyLines = [];\n    \n    for (let i = 0; i < history.length; i++) {\n        const msg = history[i];\n        if (msg.role === 'user') {\n            historyLines.push(`[Turn ${turnCount}] - Khách hàng: \"${msg.content}\"`);\n        } else {\n            historyLines.push(`[Turn ${turnCount}] - Tarot Reader: \"${msg.content}\"`);\n            turnCount++; \n        }\n    }\n    historyText = historyLines.join('\\n');\n  }\n\n  // Chèn Chân dung năng lượng\n  let personaSection = '';\n  if (recentEvents && recentEvents.trim() !== '') {\n    personaSection = `\\n\\n### [CHÂN DUNG NĂNG LƯỢNG KHÁCH HÀNG (Do AI đúc kết từ các phiên trước)]\\n${recentEvents}`;\n  }\n\n  // Dùng reader_prompt nếu có, fallback về default\n  const defaultSystemPrompt = `## ROLE: Master Tarot Reader thấu cảm và sâu sắc\\n## TASK: Khách hàng vừa bốc bài Tarot. Hãy LUẬN GIẢI các lá bài một cách liên kết với câu hỏi của khách hàng.`;\n  const narrativeBase = readerPrompt || defaultSystemPrompt;\n  const systemPrompt = narrativeBase + `\\n\\n## USER INFO: Tên: ${userName}, Giới tính: ${userGender}. Hãy gọi tên và chủ động xưng hô một cách linh hoạt, tự nhiên như một người bạn tâm giao (không bị phụ thuộc máy móc vào giới tính, tùy theo phong cách của bạn).` + personaSection + `\\n\\n## QUY TẮC:\\n1. Không giải thích từng lá rời rạc kiểu \"Lá A nghĩa là... Lá B nghĩa là...\". Thay vào đó, hãy tổng hợp thông điệp thành một câu chuyện liền mạch.\\n2. Lời khuyên cần thực tế, hướng thiện và tích cực.\\n3. Nếu có lịch sử, hãy tham chiếu để hiểu bối cảnh, nhưng TẬP TRUNG vào lần bốc bài này.\\n4. KHÔNG nhắc đến AI hay thuật toán.`;\n\n  // CẤU TRÚC PROMPT: Câu hỏi -> Bài bốc -> Ý nghĩa tra cứu -> Lịch sử\n  const userPrompt = `### 🗣️ CÂU HỎI HIỆN TẠI CỦA KHÁCH HÀNG:\\n\"${question}\"\\n\\n---\\n\\n### 🃏 LÁ BÀI VỪA BỐC (CẦN LUẬN GIẢI):\\n${cards.map(c => `- ${c.name} (${c.orientation})`).join('\\n')}\\n\\n### 📚 Ý NGHĨA GỐC CỦA LÁ BÀI (Dùng làm cơ sở luận giải):\\n${cardMeaningsStr}\\n\\n---\\n\\n### 📜 LỊCH SỬ HỘI THOẠI TRƯỚC ĐÓ (Sắp xếp từ cũ đến mới):\\n${historyText}\\n\\n---\\n\\n-> Hãy tiến hành luận giải trải bài này.`;\n\n  item.json.bodyPayload = {\n    model: 'n8n2',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ],\n    temperature: 0.8\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        464
      ],
      "id": "5406313d-fbe6-49a7-be62-5208a99dd49e",
      "name": "build interpretation prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://9router.n8ntuanphangz.xyz/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer sk-449ef7d4db870f28-gbnei2-bef49749"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        464
      ],
      "id": "35362b08-1343-4e68-ba69-9910656dcc86",
      "name": "Luận giải AI API"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n    \"interpretation\": {{ JSON.stringify($('Luận giải AI API').item.json.choices[0].message.content) }},\n    \"usage\": {{ JSON.stringify($('Luận giải AI API').item.json.usage || null) }},\n    \"model\": {{ JSON.stringify($('Luận giải AI API').item.json.model || null) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        64,
        448
      ],
      "id": "5f27df1c-0e21-4ab9-94f0-ecb9b5575768",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "Check câu hỏi": {
      "main": [
        [
          {
            "node": "build check question prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build check question prompt": {
      "main": [
        [
          {
            "node": "Check câu hỏi AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check câu hỏi AI API": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "check pick_card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check pick_card": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "build conversational prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build conversational prompt": {
      "main": [
        [
          {
            "node": "Conversational AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversational AI API": {
      "main": [
        [
          {
            "node": "Respond conversational",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Luận giải tarot": {
      "main": [
        [
          {
            "node": "Tra cứu Ý Nghĩa Bài",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tra cứu Ý Nghĩa Bài": {
      "main": [
        [
          {
            "node": "build interpretation prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build interpretation prompt": {
      "main": [
        [
          {
            "node": "Luận giải AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Luận giải AI API": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "07c1c7ec2cda95a2b0ca5f954d25b4243bbf78131f2b02a8a5d44c777d7f6dfd"
  }
}