tarot.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7179b8ca-c774-47a9-9ed4-6bf975344058",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1312,
        -48
      ],
      "id": "025635dd-aa30-4b06-87f0-d4c64deaf71c",
      "name": "Check câu hỏi",
      "webhookId": "7179b8ca-c774-47a9-9ed4-6bf975344059"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const mySystemPrompt = `## ROLE: Tarot Question Linter & Moderator\n## TASK: Đánh giá [CÂU HỎI] của người dùng có phù hợp để trải bài Tarot hay không và phân loại xem đó là câu hỏi bốc bài hay giao tiếp thông thường.\n\n## QUY TẮC ĐÁNH GIÁ:\n1. isValid = true, pick_card = true:\n- Người dùng đặt câu hỏi rõ ràng cần bốc bài Tarot (ví dụ: \"Tình cảm sắp tới của tôi ra sao?\", \"Tôi có nên đổi việc không?\", \"Cho tôi một lời khuyên\").\n- reason BẮT BUỘC phải là \"ok\".\n\n2. isValid = true, pick_card = false:\n- Người dùng chỉ đang chào hỏi, cảm ơn, hoặc hỏi thêm về trải bài hiện tại (ví dụ: \"Chào bạn\", \"Cảm ơn\", \"Giải thích thêm lá 2 đi\", \"Ý nghĩa lá này là gì?\").\n- reason phải là \"conversational\" (hệ thống sẽ tự gọi LLM riêng để trả lời).\n\n3. isValid = false, pick_card = false:\n- Câu hỏi quá ngắn, vô nghĩa (ví dụ: \"hi\", \"asdasd\").\n- Chủ đề ngoài đời sống, vi phạm (ví dụ: giải toán, code, chửi thề, hỏi thời tiết).\n- reason phải là một câu giải thích lịch sự lý do từ chối.\n\n## OUTPUT FORMAT (JSON ONLY - KHÔNG bọc block code):\n{\"isValid\": true, \"pick_card\": true, \"reason\": \"ok\"}`;\n\n  const question = $('Check câu hỏi').first().json.body.question || \"\";\n\n  const myUserPrompt = `### [CÂU HỎI ĐẦU VÀO CỦA KHÁCH HÀNG]\\n\"${question}\"\\n\\nHãy phân tích và trả về đối tượng JSON đúng định dạng.`;\n\n  item.json.bodyPayload = {\n    model: \"n8n2\",\n    messages: [\n      { role: \"system\", content: mySystemPrompt },\n      { role: \"user\", content: myUserPrompt }\n    ],\n    temperature: 0\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        -48
      ],
      "id": "e6b134ad-714b-43d8-8ab7-f9bb38966fb9",
      "name": "build check question prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://9router.n8ntuanphangz.xyz/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer sk-449ef7d4db870f28-gbnei2-bef49749"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -864,
        -48
      ],
      "id": "62038650-2091-4512-a848-59bdd0342d38",
      "name": "Check câu hỏi AI API"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  let isValid = false;\n  let pick_card = false;\n  let reason = \"Câu hỏi chưa rõ ràng hoặc không liên quan đến Tarot.\";\n\n  // 1. Trích xuất kết quả từ API\n  let rawText = \"\";\n  if (data.choices && data.choices[0] && data.choices[0].message) {\n    rawText = data.choices[0].message.content || \"\";\n  } else {\n    rawText = data.output || data.text || \"\";\n  }\n\n  if (typeof rawText === 'object') {\n    rawText = JSON.stringify(rawText);\n  }\n  rawText = rawText.trim();\n\n  // Loại bỏ markdown code block nếu có\n  if (rawText.includes('```')) {\n    rawText = rawText.replace(/```json/gi, '').replace(/```/g, '').trim();\n  }\n\n  try {\n    const parsed = JSON.parse(rawText);\n    isValid = parsed.isValid;\n    pick_card = parsed.pick_card;\n    reason = parsed.reason || \"ok\";\n  } catch (e) {\n    // Fallback bằng Regex\n    const lowerText = rawText.toLowerCase();\n    if (lowerText.includes('\"isvalid\": true') || lowerText.includes('isvalid: true')) {\n      isValid = true;\n      if (lowerText.includes('\"pick_card\": true') || lowerText.includes('pick_card: true')) {\n        pick_card = true;\n      }\n      reason = \"ok\";\n    } else {\n      isValid = false;\n      const match = rawText.match(/\"reason\"\\s*:\\s*\"([^\"]+)\"/i);\n      if (match && match[1]) {\n        reason = match[1];\n      }\n    }\n  }\n\n  // 2. Ép kiểu chuẩn\n  if (typeof isValid === 'string') {\n    isValid = (isValid.toLowerCase() === 'true');\n  } else {\n    isValid = Boolean(isValid);\n  }\n\n  if (typeof pick_card === 'string') {\n    pick_card = (pick_card.toLowerCase() === 'true');\n  } else {\n    pick_card = Boolean(pick_card);\n  }\n\n  // 3. Chuẩn hóa giá trị\n  if (isValid && pick_card) {\n    reason = \"ok\";\n  } else if (!isValid && (!reason || reason === \"ok\" || reason === \"undefined\")) {\n    reason = \"Câu hỏi không phù hợp. Vui lòng đặt câu hỏi liên quan đến chủ đề Tarot.\";\n  }\n\n  results.push({\n    json: {\n      output: {\n        isValid: isValid,\n        pick_card: pick_card,\n        reason: reason,\n        usage: data.usage || null,\n        model: data.model || null\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -48
      ],
      "id": "2496e65e-a675-42d4-a383-bdd8a4712a41",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "pick-card-check-condition",
              "leftValue": "={{ $json.output.pick_card }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        -48
      ],
      "id": "15be6081-819c-42df-88dc-3aac8aa729a1",
      "name": "check pick_card"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -192,
        -144
      ],
      "id": "7553d791-7063-4dbc-b3c2-d73a845b7a69",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const question = $('Check câu hỏi').first().json.body.question || '';\n  const history = $('Check câu hỏi').first().json.body.history || [];\n  const cards = $('Check câu hỏi').first().json.body.cards || [];\n  const userProfile = $('Check câu hỏi').first().json.body.userProfile || { name: 'lữ khách', gender: 'bạn' };\n  const userName = userProfile.name;\n  const userGender = userProfile.gender;\n  const readerPrompt = $('Check câu hỏi').first().json.body.reader_prompt || '';\n\n  // Xây dựng context 3 lá bài NGẮN GỌN\n  let cardsSection = '';\n  if (cards.length >= 3) {\n    cardsSection = `### Các lá bài đã bốc:\\n- Lá 1(Quá khứ): ${cards[0].name || '?'} (${cards[0].orientation || 'Xuôi'}) - ${cards[0].meaning || '?'}\\n- Lá 2(Hiện tại): ${cards[1].name || '?'} (${cards[1].orientation || 'Xuôi'}) - ${cards[1].meaning || '?'}\\n- Lá 3(Tương lai): ${cards[2].name || '?'} (${cards[2].orientation || 'Xuôi'}) - ${cards[2].meaning || '?'}`;\n  } else if (cards.length > 0) {\n    const cardLines = cards.map((c, i) => `- Lá ${i+1}: ${c.name || '?'} (${c.orientation || 'Xuôi'}) - ${c.meaning || '?'}`).join('\\n');\n    cardsSection = `### Các lá bài đã bốc:\\n${cardLines}`;\n  }\n\n  // Xây dựng lịch sử hội thoại NGẮN GỌN\n  let historyText = 'Lần đầu lữ khách nhắn tin.';\n  if (history.length > 0) {\n    const pastQuestions = history.map(msg => msg.content).filter(c => c !== question);\n    if (pastQuestions.length > 0) {\n      historyText = pastQuestions.map(q => `- ${q}`).join('\\n');\n    }\n  }\n\n  // Dùng reader_prompt nếu có, fallback về default\n  const defaultSystemPrompt = `## ROLE: Master Tarot Reader ấm áp, thân thiện, thấu cảm\n## TASK: Lữ khách nhắn tiếp nối sau khi xem trải bài Tarot. Hãy phản hồi tự nhiên, phù hợp câu hỏi và lá bài.`;\n  const narrativeBase = readerPrompt || defaultSystemPrompt;\n  const systemPrompt = narrativeBase + `\n\n## USER INFO: Tên: ${userName}, Xưng hô: ${userGender}. Hãy gọi tên và xưng hô tự nhiên như một người bạn tâm giao.\n\n## QUY TẮC:\n1. Phản hồi tự nhiên, đi thẳng vào trọng tâm (2-5 câu).\n2. CHỈ DỰA VÀO ý nghĩa lá bài. Không chệch khỏi gốc.\n3. Nếu hỏi thêm về bài, giải thích sâu hơn dựa trên lá đó.\n4. KHÔNG nhắc đến AI, thuật toán.`;\n\n  const userPrompt = `${cardsSection}\\n\\n### Các câu hỏi trước đó:\\n${historyText}\\n\\n### Câu hỏi HIỆN TẠI:\\n\"${question}\"\\n\\nPhản hồi tự nhiên, bám sát lá bài.`;\n\n  item.json.conversationalPayload = {\n    model: 'n8n2',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ],\n    temperature: 0.8\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        48
      ],
      "id": "acb683aa-509e-45a7-bea5-194bd9956eca",
      "name": "build conversational prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://9router.n8ntuanphangz.xyz/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer sk-449ef7d4db870f28-gbnei2-bef49749"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.conversationalPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        48
      ],
      "id": "b9587236-348a-484f-802b-e99eb2272034",
      "name": "Conversational AI API"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\t\"isValid\": true,\n\t\"pick_card\": false,\n\t\"reason\": {{ JSON.stringify($('Conversational AI API').item.json.choices[0].message.content || 'Mình luôn sẵn sàng lắng nghe! Bạn còn thắc mắc gì không?') }},\n\t\"usage\": {\n\t\t\"prompt_tokens\": {{ ($('Check câu hỏi AI API').item.json.usage?.prompt_tokens || 0) + ($('Conversational AI API').item.json.usage?.prompt_tokens || 0) }},\n\t\t\"completion_tokens\": {{ ($('Check câu hỏi AI API').item.json.usage?.completion_tokens || 0) + ($('Conversational AI API').item.json.usage?.completion_tokens || 0) }},\n\t\t\"total_tokens\": {{ ($('Check câu hỏi AI API').item.json.usage?.total_tokens || 0) + ($('Conversational AI API').item.json.usage?.total_tokens || 0) }}\n\t},\n\t\"model\": {{ JSON.stringify($('Conversational AI API').item.json.model || null) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        256,
        48
      ],
      "id": "2f33e990-5b6a-4303-a18e-fd7ae170330e",
      "name": "Respond conversational"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fc76868a-6ee3-4376-98fe-b5db66b7a3ee",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1072,
        416
      ],
      "id": "216b6fa1-d6cd-4cc1-9f1c-41ae43955d67",
      "name": "Luận giải tarot",
      "webhookId": "fc76868a-6ee3-4376-98fe-b5db66b7a3ed"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://phogotarot-api.tuanphan1112-working.workers.dev/cards/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Luận giải tarot').item.json.body.cards || []) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -864,
        416
      ],
      "id": "09d4bb75-c292-4fe1-9e25-8678972df915",
      "name": "Tra cứu Ý Nghĩa Bài"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const question = $('Luận giải tarot').first().json.body.question || \"\";\n  const cards = $('Luận giải tarot').first().json.body.cards || [];\n  const userProfile = $('Luận giải tarot').first().json.body.userProfile || { name: 'lữ khách', gender: 'bạn' };\n  const userName = userProfile.name;\n  const userGender = userProfile.gender;\n  const readerPrompt = $('Luận giải tarot').first().json.body.reader_prompt || '';\n  \n  let isFollowUp = false;\n  let previousQuestions = [];\n  let historyText = \"Chưa có.\";\n  \n  // Lấy mảng history do Astro Webhook truyền sang\n  const history = $('Luận giải tarot').first().json.body.history || [];\n  \n  if (history.length > 0) {\n    isFollowUp = true;\n    \n    // Lọc ra các câu hỏi của user từ mảng history\n    previousQuestions = history.filter(msg => msg.role === 'user').map(msg => msg.content);\n    \n    if (previousQuestions.length > 0) {\n      const questionsStr = previousQuestions.map((q, i) => `Lần ${i+1}: \"${q}\"`).join('\\n');\n      historyText = `Các câu hỏi trước đó:\\n${questionsStr}`;\n    }\n  }\n\n  // Prompt mặc định (dùng khi không có reader_prompt)\n  const defaultFirstPrompt = `## ROLE: Master Tarot Reader\n## TASK: Hóa thân thành một Tarot Reader sâu sắc, ấm áp, thấu cảm và chuyên nghiệp sử dụng bộ bài Rider–Waite. Giải đáp câu hỏi dựa trên các lá bài đã bốc.`;\n  const defaultFollowUpPrompt = `## ROLE: Master Tarot Reader\n## TASK: Hóa thân thành một Tarot Reader sâu sắc, ấm áp. Lữ khách vừa bốc thêm 3 lá bài mới. Trực tiếp luận giải 3 lá bài MỚI này.`;\n\n  // Dùng reader_prompt nếu có, fallback về default tương ứng\n  const narrativeBase = readerPrompt || (isFollowUp ? defaultFollowUpPrompt : defaultFirstPrompt);\n\n  let mySystemPrompt = \"\";\n  if (!isFollowUp) {\n    mySystemPrompt = narrativeBase + `\n\n## USER INFO: Tên: ${userName}, Xưng hô: ${userGender}. Hãy gọi tên và xưng hô tự nhiên như một người bạn tâm giao.\n\n## HƯỚNG DẪN LUẬN GIẢI:\n1. Kết nối ý nghĩa của 3 lá bài theo tiến trình thời gian (Quá khứ → Hiện tại → Tương lai) để tạo nên một câu chuyện mạch lạc.\n2. Lồng ghép cả \"mặt sáng\" và \"bài học cần học\", tuyệt đối không mê tín dị đoan.\n3. Giọng văn con người trầm ổn, đồng cảm.\n4. KHÔNG nhắc đến AI, thuật toán, máy tính, ngẫu nhiên hoặc \"Xuôi\". (Dùng từ: Hướng thuận, mặt thuận lợi...).\n5. Trình bày đẹp mắt bằng Markdown. Dưới 1000 tokens.\n\n## CẤU TRÚC BẮT BUỘC:\n---\nLời chào mở đầu (1–2 câu)\n### 1. Mở đầu và cảm nhận chung (2-3 câu)\n### 2. Dòng chảy của câu chuyện (Quá khứ → Hiện tại → Tương lai) (3-4 câu)\n### 3. Sự kết nối giữa các lá bài (3-4 câu)\n### 4. Lời khuyên từ trái tim (2-3 câu)\n→ Kết thúc bằng 1–2 câu hỏi tự vấn`;\n  } else {\n    mySystemPrompt = narrativeBase + `\n\n## USER INFO: Tên: ${userName}, Xưng hô: ${userGender}. Hãy gọi tên và xưng hô tự nhiên.\n\n## HƯỚNG DẪN LUẬN GIẢI:\n1. TRỰC TIẾP đi vào luận giải 3 lá bài mới, KHÔNG lặp lại lời chào sến súa. Nhắc đến tên lá bài để lữ khách biết bạn đang giải bài mới.\n2. Trình bày linh hoạt, tự nhiên như trò chuyện. KHÔNG theo outline rập khuôn.\n3. Ngắt đoạn linh hoạt, dùng bullet points tự do.\n4. Trọng tâm là 3 lá MỚI. Liên kết nhẹ nhàng với bối cảnh trước đó. Tuân thủ ý nghĩa gốc.\n5. Giọng văn trầm ổn. TUYỆT ĐỐI KHÔNG nhắc đến AI, thuật toán.`;\n  }\n\n  let cardsSection = \"\";\n  if (cards.length > 0) {\n    const cardPast = cards[0] || {};\n    const cardPresent = cards[1] || {};\n    const cardFuture = cards[2] || {};\n    cardsSection = `### [LÁ BÀI & Ý NGHĨA]\n- Lá 1(Quá khứ): ${cardPast.name || \"?\"} (${cardPast.orientation || \"Xuôi\"}) - ${cardPast.meaning || \"?\"}\n- Lá 2(Hiện tại): ${cardPresent.name || \"?\"} (${cardPresent.orientation || \"Xuôi\"}) - ${cardPresent.meaning || \"?\"}\n- Lá 3(Tương lai): ${cardFuture.name || \"?\"} (${cardFuture.orientation || \"Xuôi\"}) - ${cardFuture.meaning || \"?\"}`;\n  }\n\n  const myUserPrompt = `### [CÂU HỎI MỚI]\n\"${question}\"\n\n${cardsSection}\n\n### [BỐI CẢNH TRƯỚC ĐÓ]\n${historyText}\n\nGiải đáp thấu cảm.`;\n\n  item.json.bodyPayload = {\n    model: \"n8n2\",\n    messages: [\n      { role: \"system\", content: mySystemPrompt },\n      { role: \"user\", content: myUserPrompt }\n    ],\n    temperature: 0.7\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        416
      ],
      "id": "f3f562db-995c-434e-a702-222e64a92b68",
      "name": "build interpretation prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://9router.n8ntuanphangz.xyz/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer sk-449ef7d4db870f28-gbnei2-bef49749"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -464,
        416
      ],
      "id": "bc03c9c6-1b0d-49f9-8963-fc2cdf2f117d",
      "name": "Luận giải AI API"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n    \"interpretation\": {{ JSON.stringify($('Luận giải AI API').item.json.choices[0].message.content) }},\n    \"usage\": {{ JSON.stringify($('Luận giải AI API').item.json.usage || null) }},\n    \"model\": {{ JSON.stringify($('Luận giải AI API').item.json.model || null) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -256,
        416
      ],
      "id": "1f048956-8593-431f-9bca-833833a559f7",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "Check câu hỏi": {
      "main": [
        [
          {
            "node": "build check question prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build check question prompt": {
      "main": [
        [
          {
            "node": "Check câu hỏi AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check câu hỏi AI API": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "check pick_card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check pick_card": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "build conversational prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build conversational prompt": {
      "main": [
        [
          {
            "node": "Conversational AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversational AI API": {
      "main": [
        [
          {
            "node": "Respond conversational",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Luận giải tarot": {
      "main": [
        [
          {
            "node": "build interpretation prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build interpretation prompt": {
      "main": [
        [
          {
            "node": "Luận giải AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Luận giải AI API": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "07c1c7ec2cda95a2b0ca5f954d25b4243bbf78131f2b02a8a5d44c777d7f6dfd"
  }
}