n8n-workflow/tarot-yes-no-question.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2b074c1e-6465-4114-872d-c0dcd9278b61",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        480
      ],
      "id": "0c081603-9b57-4a66-ac5a-4548efafcf75",
      "name": "Check câu hỏi",
      "webhookId": "2b074c1e-6465-4114-872d-c0dcd9278b62"
    },
    {
      "parameters": {
        "jsCode": "const questionRaw = $input.first().json.body.question || \"\";\nconst question = questionRaw.toLowerCase().trim();\n\n// ======= ⚙️ Hàm bỏ dấu tiếng Việt =======\nfunction removeDiacritics(str) {\n  return str\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/đ/g, \"d\")\n    .replace(/Đ/g, \"D\");\n}\n\n// Bỏ dấu cho input để check so khớp\nconst questionNormalized = removeDiacritics(question);\n\n// ======= 🧠 Danh sách từ khóa liên quan Tarot =======\nconst keywords = [\n  \"tinh cam\",\"moi quan he\",\"hop nhau\",\"loi khuyen\",\"nen lam gi\",\"nghi gi ve\",\n  \"tim hieu\",\"de y den\",\"an tuong\",\"xuat hien\",\"quay lai\",\"nguoi thu ba\",\n  \"qua khu\",\"tuong lai\",\"sap toi\",\"ngoai tinh\",\"gia dinh\",\"lua doi\",\"mqh\",\n  \"suc khoe\",\"cong viec\",\"du hoc\",\"vuot qua\",\"nguoi yeu cu\",\"crush\",\"yeu minh\",\n  \"thich minh\",\"co ai khac\",\"dinh menh\",\"duyen phan\",\"co hoi\",\"thanh cong\",\n  \"doi viec\",\"thi cu\",\"dinh huong\",\"muc tieu\",\"so phan\",\"vu tru\",\"stress\",\n  \"chua lanh\",\"thang tien\",\"tai chinh\",\"phong van\",\"kinh doanh\",\"may man\",\n  \"vo\",\"chong\"\n];\n\n// ======= 🚫 Từ nhạy cảm / bị chặn =======\nconst banned = [\n  \"chet\",\"tu tu\",\"giet\",\"ma\",\"bua\",\"yem\",\"ngai\",\"phap su\",\"hai nguoi\",\"danh de\",\"trung so\"\n];\n\n// ======= 🧩 Kiểm tra nhanh =======\nconst tooShort = questionNormalized.length < 15;\nconst hasBanned = banned.some(b => questionNormalized.includes(b));\nconst hasKeyword = keywords.some(k => questionNormalized.includes(k));\n\n// ======= 🧠 Logic quyết định =======\nlet isTarot = false;\n\nif (!tooShort && !hasBanned && hasKeyword) {\n  isTarot = true;\n}\n\n// ======= 🔚 Output cực gọn =======\nreturn [{ isTarot }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        480
      ],
      "id": "7438a00b-e38e-45b7-9ca0-b5f2ed6b87f4",
      "name": "check keyword"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3408faf-4c85-48d9-8e85-9424fec1fffd",
              "leftValue": "={{ $json.isTarot }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        480
      ],
      "id": "bef063f7-4b37-4672-9342-ff57f2072b77",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\t\"isValid\": {{ $('check keyword').item.json.isTarot }},\n\t\"reason\": \"ok\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        384
      ],
      "id": "a98b42a8-5aa3-4082-9914-ccd45e9698ef",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  \n  const userProfile = $('Webhook').first().json.body.userProfile || { name: 'lữ khách', gender: 'bạn', user_persona: '' };\n  const userName = userProfile.name;\n  const userGender = userProfile.gender;\n  const recentEvents = userProfile.user_persona;\n\n  let personaSection = '';\n  if (recentEvents && recentEvents.trim() !== '') {\n    personaSection = `\\n\\n### [HỒ SƠ VÀ BỐI CẢNH KHÁCH HÀNG]\\n${recentEvents}`;\n  }\n\n  const mySystemPrompt = `## ROLE: Tarot Question Linter & Moderator\n## USER INFO: Tên: ${userName}, Giới tính: ${userGender}. Quy tắc xưng hô: BẠN BẮT BUỘC PHẢI tự xưng là \"mình\" và gọi khách hàng là \"bạn\" (có thể kết hợp gọi tên ${userName}) một cách tự nhiên.\\n\\n${personaSection}\\n\\n## TASK: Đánh giá [CÂU HỎI] của người dùng có phù hợp để trải bài Tarot CÓ/KHÔNG (Yes/No Question) hay không.\n\n## QUY TẮC ĐÁNH GIÁ:\n1. isValid = true:\n- Câu hỏi CÓ DẠNG YES/NO (Có/Không) hoặc mang tính lựa chọn, quyết định.\n- Chủ đề rõ ràng liên quan đến đời sống, công việc, tình cảm, định hướng cá nhân.\n- Khi isValid = true, trường reason BẮT BUỘC phải là \"ok\".\n\n2. isValid = false:\n- Câu hỏi KHÔNG PHẢI dạng Yes/No (ví dụ: câu hỏi mở như \"Tôi phải làm gì\", \"Tương lai của tôi thế nào\").\n- Câu hỏi quá ngắn, trống rỗng, vô nghĩa, spam (ví dụ: \"hi\", \"asdasd\").\n- Chủ đề không phù hợp (hỏi bài tập, nấu ăn, code, chính trị, thô tục).\n- Khi isValid = false, reason phải là một câu giải thích lịch sự, ngắn gọn bằng tiếng Việt lý do không phù hợp.\n\n## OUTPUT FORMAT (JSON ONLY - KHÔNG bọc block code):\n{\"isValid\": true, \"reason\": \"ok\"}`;\n\n  const question = $('Check câu hỏi').first().json.body.question || \"\";\n\n  const myUserPrompt = `### [CÂU HỎI ĐẦU VÀO CỦA KHÁCH HÀNG]\n\"${question}\"\n\nHãy phân tích và trả về đối tượng JSON đúng định dạng.`;\n\n  item.json.bodyPayload = {\n    model: \"n8n2\",\n    messages: [\n      {\n        role: \"system\",\n        content: mySystemPrompt\n      },\n      {\n        role: \"user\",\n        content: myUserPrompt\n      }\n    ],\n    temperature: 0\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        576
      ],
      "id": "93c3cf37-eec2-4f14-a4b0-506ac6f42f5a",
      "name": "build check question prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://9router.n8ntuanphangz.xyz/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer sk-449ef7d4db870f28-gbnei2-bef49749"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        576
      ],
      "id": "7bc44eb3-a56a-4cef-ad14-b99e9d39ba6a",
      "name": "Check câu hỏi AI API"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  let isValid = false;\n  let reason = \"Câu hỏi chưa rõ ràng hoặc không liên quan đến Tarot.\";\n\n  // 1. Trích xuất kết quả từ API\n  let rawText = \"\";\n  if (data.choices && data.choices[0] && data.choices[0].message) {\n    rawText = data.choices[0].message.content || \"\";\n  } else {\n    rawText = data.output || data.text || \"\";\n  }\n\n  if (typeof rawText === 'object') {\n    rawText = JSON.stringify(rawText);\n  }\n  rawText = rawText.trim();\n\n  // Loại bỏ markdown code block nếu có\n  if (rawText.includes('```')) {\n    rawText = rawText.replace(/```json/gi, '').replace(/```/g, '').trim();\n  }\n\n  try {\n    const parsed = JSON.parse(rawText);\n    isValid = parsed.isValid;\n    reason = parsed.reason || \"ok\";\n  } catch (e) {\n    // Fallback bằng Regex nếu không parse được JSON\n    const lowerText = rawText.toLowerCase();\n    if (lowerText.includes('\"isvalid\": true') || lowerText.includes('isvalid: true') || lowerText.includes('true')) {\n      isValid = true;\n      reason = \"ok\";\n    } else {\n      isValid = false;\n      const match = rawText.match(/\"reason\"\\s*:\\s*\"([^\"]+)\"/i);\n      if (match && match[1]) {\n        reason = match[1];\n      }\n    }\n  }\n\n  // 2. Ép kiểu chuẩn\n  if (typeof isValid === 'string') {\n    isValid = (isValid.toLowerCase() === 'true');\n  } else {\n    isValid = Boolean(isValid);\n  }\n\n  // 3. Chuẩn hóa giá trị\n  if (isValid) {\n    reason = \"ok\";\n  } else if (!reason || reason === \"ok\" || reason === \"undefined\") {\n    reason = \"Câu hỏi không phù hợp. Vui lòng đặt câu hỏi liên quan đến chủ đề Tarot.\";\n  }\n\n  results.push({\n    json: {\n      output: {\n        isValid: isValid,\n        reason: reason\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        576
      ],
      "id": "6e28502d-01e0-4671-8ad7-f33cdc486fcd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1120,
        576
      ],
      "id": "b5cba669-fce9-488a-926e-446cc85de713",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "29fa6319-ca20-42a6-9d31-5a599e1a030c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        912
      ],
      "id": "d00eae35-02bb-4d18-85bc-95631357afab",
      "name": "Luận giải tarot",
      "webhookId": "29fa6319-ca20-42a6-9d31-5a599e1a030d"
    },
    {
      "parameters": {
        "url": "=https://phogotarot-api.tuanphan1112-working.workers.dev/readings?session_id={{ $('Luận giải tarot').first().json.body.readingId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -48,
        912
      ],
      "id": "b65882f3-2324-4b8f-8e45-7f7120be01db",
      "name": "Lấy Lịch Sử D1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://phogotarot-api.tuanphan1112-working.workers.dev/cards/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Luận giải tarot').item.json.body.cards || []) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        160,
        912
      ],
      "id": "5e12d87b-c18f-4c1b-9eda-335eb6d708e6",
      "name": "Tra cứu Ý Nghĩa Bài"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const question = $('Luận giải tarot').first().json.body.question || \"\";\n  const cards = item.json.cards || [];\n  \n  // Kiểm tra và lấy Lịch sử trải bài từ node Lấy Lịch Sử D1\n  let isFollowUp = false;\n  let previousQuestions = [];\n  let historyText = \"Chưa có cuộc trò chuyện nào trước đó.\";\n  let cardsListText = \"\";\n  \n  try {\n    const historyNode = $('Lấy Lịch Sử D1').first().json;\n    if (historyNode && historyNode.exists) {\n      isFollowUp = true;\n      \n      const cardsList = (historyNode.cards_payload || []).map(c => `${c.name || c.card_name} (${c.orientation || 'Xuôi'})`).join(', ');\n      cardsListText = `Lá bài đã bốc: ${cardsList}`;\n      \n      previousQuestions.push(historyNode.question);\n      \n      if (historyNode.interpretation) {\n        const regex = /Lữ khách hỏi tiếp: \"(.*?)\"/g;\n        let match;\n        while ((match = regex.exec(historyNode.interpretation)) !== null) {\n          previousQuestions.push(match[1]);\n        }\n      }\n      \n      const questionsStr = previousQuestions.map((q, i) => `Lần ${i+1}: \"${q}\"`).join('\\n');\n      historyText = `Các câu hỏi lữ khách đã hỏi trước đó:\\n${questionsStr}`;\n    }\n  } catch (e) {}\n\n  \n  // Lấy thông tin userProfile\n  const userProfile = $('Luận giải tarot').first().json.body.userProfile || { name: 'lữ khách', gender: 'bạn', user_persona: '' };\n  const userName = userProfile.name;\n  const userGender = userProfile.gender;\n  const recentEvents = userProfile.user_persona;\n  \n  let personaSection = '';\n  if (recentEvents && recentEvents.trim() !== '') {\n    personaSection = '\\n\\n### [HỒ SƠ VÀ BỐI CẢNH KHÁCH HÀNG]\\n' + recentEvents;\n  }\n  \n  const userInfoPrompt = '\\n\\n## USER INFO: Tên: ' + userName + ', Giới tính: ' + userGender + '. Quy tắc xưng hô: BẠN BẮT BUỘC PHẢI tự xưng là \\\"mình\\\" và gọi khách hàng là \\\"bạn\\\" (có thể kết hợp gọi tên ' + userName + ') một cách tự nhiên.' + personaSection;\n\n  let mySystemPrompt = \"\";\n  if (!isFollowUp) {\n    mySystemPrompt = `## ROLE: Master Tarot Reader\n## TASK: Hóa thân thành một Tarot Reader sâu sắc, ấm áp, thấu cảm và chuyên nghiệp sử dụng bộ bài Rider–Waite. Hãy giải đáp câu hỏi dạng CÓ/KHÔNG (Yes/No Question) của lữ khách dựa trên các lá bài đã bốc và ý nghĩa tương ứng được cung cấp.\n\n## HƯỚNG DẪN LUẬN GIẢI:\n1. Xác định năng lượng tổng quan thiên về \"Có\" (Yes), \"Không\" (No), hoặc \"Có thể\" (Maybe) dựa vào ý nghĩa của các lá bài.\n2. Với mỗi lá bài, hãy lồng ghép cả \"mặt sáng\" và \"bài học cần học\" để mang lại góc nhìn đa chiều, tuyệt đối không mang xu hướng mê tín dị đoan.\n3. Giọng văn con người trầm ổn, đồng cảm, chân thành, tựa như một người bạn tâm giao đang trò chuyện thật sự.\n4. TUYỆT ĐỐI KHÔNG nhắc đến các từ liên quan đến AI, hệ thống, thuật toán, máy tính, hoặc \"Xuôi\". (Luôn dùng các cách gọi khác như: Hướng thuận, mặt thuận lợi, v.v.).\n5. Trình bày đẹp mắt bằng Markdown. Giới hạn độ dài trong khoảng 800 tokens.\n\n## CẤU TRÚC BẮT BUỘC (GIỮ NGUYÊN FORMAT MARKDOWN):\n---\nLời chào mở đầu (1–2 câu)\n### 1. Tổng quan năng lượng của câu hỏi (Kết luận Yes/No/Maybe và lý do) (3-4 câu)\n### 2. Phân tích các lá bài đã bốc (3-4 câu cho mỗi lá)\n### 3. Lời khuyên từ trái tim (2-3 câu)\n→ Kết thúc bằng 1–2 câu hỏi tự vấn` + userInfoPrompt;\n  } else {\n    mySystemPrompt = `## ROLE: Master Tarot Reader\n## TASK: Hóa thân thành một Tarot Reader sâu sắc, ấm áp, thấu cảm. Lữ khách đang có thắc mắc tiếp nối về trải bài Tarot Yes/No trước đó. Hãy trực tiếp giải đáp thắc mắc mới này.\n\n## HƯỚNG DẪN LUẬN GIẢI:\n1. TRỰC TIẾP đi vào vấn đề giải đáp câu hỏi mới, KHÔNG CẦN lặp lại lời chào mở đầu sến súa.\n2. Trình bày nội dung một cách tự nhiên, linh hoạt, giống như một cuộc trò chuyện sâu sắc. KHÔNG tuân theo outline rập khuôn như lần đầu.\n3. Hãy ngắt đoạn linh hoạt cho đỡ nhàm chán, có thể dùng bullet points tự do nếu phù hợp.\n4. Liên kết câu trả lời với ý nghĩa các lá bài đã bốc ban đầu và các vấn đề lữ khách đã hỏi trước đó để tạo sự liền mạch. Tuân thủ tuyệt đối ý nghĩa gốc của các lá bài.\n5. Giọng văn trầm ổn, đồng cảm, chân thành và mang tính chữa lành. TUYỆT ĐỐI KHÔNG nhắc đến các từ liên quan đến AI, thuật toán.` + userInfoPrompt;\n  }\n\n  let cardsSection = \"\";\n  if (cards.length > 0) {\n    cardsSection = `### [CHI TIẾT TRẢI BÀI & Ý NGHĨA GỐC TỪ D1]\\n`;\n    cards.forEach((c, index) => {\n      cardsSection += `- **Lá bài ${index + 1}**: ${c.name || c.card_name || \"—\"} (${c.orientation || \"Xuôi\"})\\n  * Ý nghĩa cốt lõi: ${c.meaning || \"—\"}\\n  * Dấu hiệu Yes/No: ${c.yes_no_meaning || \"Không xác định\"}\\n\\n`;\n    });\n  }\n\n  const myUserPrompt = `### [CÂU HỎI MỚI CỦA LỮ KHÁCH]\n\"${question}\"\n\n${cardsSection}\n\n### [BỐI CẢNH LỊCH SỬ CÂU HỎI TRƯỚC ĐÓ]\n${historyText}\n\nHãy thấu cảm và giải đáp câu hỏi mới của lữ khách.`;\n\n  item.json.bodyPayload = {\n    model: \"n8n2\",\n    messages: [\n      {\n        role: \"system\",\n        content: mySystemPrompt\n      },\n      {\n        role: \"user\",\n        content: myUserPrompt\n      }\n    ],\n    temperature: 0.7\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        912
      ],
      "id": "c48c270a-02cc-4517-9b13-864158af099c",
      "name": "build interpretation prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://9router.n8ntuanphangz.xyz/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer sk-449ef7d4db870f28-gbnei2-bef49749"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        912
      ],
      "id": "012dca8b-7ebf-4d53-8e6f-9fe1160543a4",
      "name": "Luận giải AI API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://phogotarot-api.tuanphan1112-working.workers.dev/readings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('Luận giải tarot').first().json.body.readingId }}\",\n  \"question\": {{ JSON.stringify($('Luận giải tarot').first().json.body.question || '') }},\n  \"cards_payload\": {{ JSON.stringify($('Luận giải tarot').first().json.body.cards || []) }},\n  \"interpretation\": {{ JSON.stringify($('Luận giải AI API').first().json.choices[0].message.content) }},\n  \"model\": \"{{ $('Luận giải AI API').first().json.model || 'unknown' }}\",\n  \"prompt_tokens\": {{ $('Luận giải AI API').first().json.usage?.prompt_tokens || 0 }},\n  \"completion_tokens\": {{ $('Luận giải AI API').first().json.usage?.completion_tokens || 0 }},\n  \"total_tokens\": {{ $('Luận giải AI API').first().json.usage?.total_tokens || 0 }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        816,
        800
      ],
      "id": "90f04b3c-cdfb-46ef-8c16-3b6ea7e091a8",
      "name": "Lưu Nhật Ký Chi Tiết"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n    \"interpretation\": {{ JSON.stringify($('Luận giải AI API').item.json.choices[0].message.content) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        992
      ],
      "id": "596dedbf-f9d6-41ff-93e1-126602f9624f",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "Check câu hỏi": {
      "main": [
        [
          {
            "node": "check keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check keyword": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "build check question prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build check question prompt": {
      "main": [
        [
          {
            "node": "Check câu hỏi AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check câu hỏi AI API": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Luận giải tarot": {
      "main": [
        [
          {
            "node": "Lấy Lịch Sử D1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Lịch Sử D1": {
      "main": [
        [
          {
            "node": "Tra cứu Ý Nghĩa Bài",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tra cứu Ý Nghĩa Bài": {
      "main": [
        [
          {
            "node": "build interpretation prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build interpretation prompt": {
      "main": [
        [
          {
            "node": "Luận giải AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Luận giải AI API": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lưu Nhật Ký Chi Tiết",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "07c1c7ec2cda95a2b0ca5f954d25b4243bbf78131f2b02a8a5d44c777d7f6dfd"
  }
}