n8n-workflow/tarot-interpret-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fc76868a-6ee3-4376-98fe-b5db66b7a3ee",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1136,
        4672
      ],
      "id": "4f02facd-6f6d-49c7-b270-2d5fc3eccc84",
      "name": "Luận giải tarot",
      "webhookId": "fc76868a-6ee3-4376-98fe-b5db66b7a3ed"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://phogotarot-api.tuanphan1112-working.workers.dev/cards/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Luận giải tarot').item.json.body.cards || []) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -848,
        4672
      ],
      "id": "df3edb3f-47ce-49bc-90f9-0aa1b39f84e5",
      "name": "Tra cứu Ý Nghĩa Bài"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const question = $('Luận giải tarot').first().json.body.question || \"\";\n  \n  // LẤY CARDS TỪ NODE TRA CỨU, KHÔNG PHẢI TỪ WEBHOOK\n  const cards = $('Tra cứu Ý Nghĩa Bài').first().json.cards || [];\n  \n  const userProfile = $('Luận giải tarot').first().json.body.userProfile || { name: 'lữ khách', gender: 'bạn', user_persona: '' };\n  const userName = userProfile.name;\n  const userGender = userProfile.gender;\n  const recentEvents = userProfile.user_persona;\n  const readerPrompt = $('Luận giải tarot').first().json.body.reader_prompt || '';\n  \n  // Xây dựng lịch sử hội thoại: CHỈ LẤY CÂU HỎI CỦA KHÁCH, RÚT GỌN PREFIX\n  const history = $('Luận giải tarot').first().json.body.history || [];\n  let historyText = 'Chưa có câu hỏi nào trước đó trong phiên này.';\n  if (history.length > 0) {\n    let historyLines = [];\n    let turnCount = 1;\n    for (let i = 0; i < history.length; i++) {\n        const msg = history[i];\n        if (msg.role === 'user') {\n            historyLines.push(`[${turnCount}] \"${msg.content}\"`);\n            turnCount++;\n        }\n    }\n    if (historyLines.length > 0) {\n        historyText = historyLines.join('\\n');\n    }\n  }\n\n  // Chèn Chân dung năng lượng\n  let personaSection = '';\n  if (recentEvents && recentEvents.trim() !== '') {\n    personaSection = `\\n\\n### [HỒ SƠ VÀ BỐI CẢNH KHÁCH HÀNG]\\n${recentEvents}`;\n  }\n\n  // Dùng reader_prompt nếu có, fallback về default\n  const defaultSystemPrompt = `## ROLE: Master Tarot Reader thấu cảm và sâu sắc\\n## TASK: Khách hàng vừa bốc bài Tarot. Hãy LUẬN GIẢI các lá bài một cách liên kết với câu hỏi của khách hàng.`;\n  const narrativeBase = readerPrompt || defaultSystemPrompt;\n  \n  const systemPrompt = narrativeBase + `\\n\\n## USER INFO: Tên: ${userName}, Giới tính: ${userGender}. Hãy gọi tên và chủ động xưng hô một cách linh hoạt, tự nhiên như một người bạn tâm giao (không bị phụ thuộc máy móc vào giới tính, tùy theo phong cách của bạn).` + personaSection + `\\n\\n## QUY TẮC:\\n1. Không giải thích từng lá rời rạc kiểu \"Lá A nghĩa là... Lá B nghĩa là...\". Thay vào đó, hãy tổng hợp thông điệp thành một câu chuyện liền mạch.\\n2. Lời khuyên cần thực tế, hướng thiện và tích cực.\\n3. Hãy tham chiếu các câu hỏi trước đó để hiểu mạch bối cảnh, nhưng TẬP TRUNG vào trả lời câu hỏi hiện tại lần bốc bài này.\\n4. KHÔNG nhắc đến AI hay thuật toán.`;\n\n  // LƯU Ý: Đổi 'c.name' thành 'c.card_name || c.name' để tương thích với JSON của node Tra cứu\n  const cardsText = cards.map(c => `- ${c.card_name || c.name} (${c.orientation}): ${c.meaning || 'Chưa có dữ liệu ý nghĩa'}`).join('\\n');\n\n  // CẤU TRÚC PROMPT: Câu hỏi -> Bài bốc (kèm ý nghĩa) -> Lịch sử (chỉ user)\n  const userPrompt = `### 🗣️ CÂU HỎI TRỌNG TÂM HIỆN TẠI:\\n\"${question}\"\\n\\n---\\n\\n### 🃏 LÁ BÀI VỪA BỐC VÀ Ý NGHĨA GỐC (Dùng làm cơ sở luận giải):\\n${cardsText}\\n\\n---\\n\\n### 📜 CÁC CÂU HỎI TRƯỚC ĐÓ TRONG PHIÊN NÀY:\\n${historyText}\\n\\n---\\n\\n-> Dựa vào bối cảnh trên, hãy tiến hành luận giải trải bài này.`;\n\n  item.json.bodyPayload = {\n    model: 'n8n2',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ],\n    temperature: 0.8\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        4688
      ],
      "id": "27d9ba08-4325-4c9d-8750-70b2144c840a",
      "name": "build interpretation prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://9router.n8ntuanphangz.xyz/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer sk-449ef7d4db870f28-gbnei2-bef49749"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        4688
      ],
      "id": "ba0fb3e7-1013-417b-86a7-60d68b3d2177",
      "name": "Luận giải AI API"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n    \"interpretation\": {{ JSON.stringify($('Luận giải AI API').item.json.choices[0].message.content) }},\n    \"usage\": {{ JSON.stringify($('Luận giải AI API').item.json.usage || null) }},\n    \"model\": {{ JSON.stringify($('Luận giải AI API').item.json.model || null) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -176,
        4672
      ],
      "id": "b727c41f-ea7a-48a7-a8f7-9ab358501b4c",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "Luận giải tarot": {
      "main": [
        [
          {
            "node": "Tra cứu Ý Nghĩa Bài",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tra cứu Ý Nghĩa Bài": {
      "main": [
        [
          {
            "node": "build interpretation prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build interpretation prompt": {
      "main": [
        [
          {
            "node": "Luận giải AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Luận giải AI API": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "07c1c7ec2cda95a2b0ca5f954d25b4243bbf78131f2b02a8a5d44c777d7f6dfd"
  }
}